body {
  width: 65%;
  margin: auto;
  background-color: #1a3730;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 800px;
}
h1, h2 {
  text-align: center;
}
h3 {
  margin-bottom: 0;
  margin-top: 0.5px;
}
.heading {
  color: whitesmoke;
  font-size: 1.2rem;
  margin-top: 2rem;
}

/* Player Selection */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
#player, #computer {
  display: flex;
  align-items: center;
  border: 5px solid #d4c3bf;
  margin: 1rem 0;
  padding: 1rem;
  background-color: whitesmoke;
  border-radius: 5px;
}
.images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#player img {
  width: 100px;
  height: auto;
  opacity: 50%;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
#computer img {
  width: 100px;
  height: auto;
}
#player img:hover {
  opacity: 100%;
}

#player #paper-img {
  width: 120px;
  height: auto;
}

/* Game Play Animmation */
#gamePlay {
  background-color: whitesmoke;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px 40px;
  border: 5px solid #d4c3bf;
  border-radius: 5px;
  display: none;
  max-width: 70%;
  margin: 10px auto 20px auto;
  align-items: center;
  
}

#gamePlay img { 
  height: 100px; 
  width: auto;
}

#gamePlay.showing {
  display: flex;
  justify-content: space-between;
  position: relative;
  display: flex;
  align-items: center;
}

#gamePlay img.centered {
  position: absolute;
  justify-content: center;
}

.movingPlay { animation: 0.5s 3 shake; }

@keyframes shake {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(20%);
  }
} 

.middle {
  justify-content: center !important;
}

#gamePlay img.on-top {
  transform: translateY(-50%) !important;
  transition: all 0.5s ease-in-out;
}

#gamePlay img.on-bottom {
  transform: translateY(50%) !important; 
  transition: all 0.5s ease-in-out;
}


/* Score Board */
section.scoreboard {
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  background-color: #d4c3bf;
  margin-bottom: 2rem;
  border-radius: 5px;
}
#result {
  border-bottom: 3px dashed #1A3730;
  justify-content: center;
  padding-bottom: 1rem;
  grid-column-start: 1;
  grid-column-end: 4;
}
.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#wins, #losses, #ties {
  font-size: 2rem;
  font-weight: 600;
}
p.label {
  margin-top: 0;
  font-size: 1.5rem;
}
.reset {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}
.reset button {
  padding: 0.5rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-size: 1.2rem;
  color:whitesmoke;
  background: #1A3730;
  border-radius: 5px;
  border: 1px solid black;
}

.reset button:hover {
  color: black;
  background: #A6D3A0;
}

@media screen and (max-width: 768px)  {
  main {grid-template-columns: 1fr;}
  main img {transform: scale(.9);}
  body {
    width: 95%
  }
  .heading {
    margin-top: 0;
  }
  .images {
    flex-wrap: wrap;
  }
  #gamePlay {
    max-width: 100%;
  }
  #gamePlay img { 
    height: 80px; 
    width: auto;
  }
  p.label {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px)  {
  #gamePlay {
    padding-left: 2px;
    padding-right: 2px;
  }
}